.vehicle-list-container {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.filter-container input,
.filter-container button {
    padding: 5px;
    line-height: normal;
}
.filter-container button {
    cursor: pointer;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.card {
    flex: 1 1 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.02);
}

.vehicle-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.25em;
    margin: 10px 0;
}

.card-text {
    color: #555;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #474c52;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.review-section {
    width: 100%;
    padding: 10px;
    background-color: #f9f9f9;
}
